@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.icon-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
        hue-rotate(333deg) brightness(103%) contrast(102%);
}
.icon-black {
    filter: brightness(0) saturate(100%) invert(31%) sepia(12%) saturate(969%)
        hue-rotate(179deg) brightness(94%) contrast(85%);
}
.icon-primary {
    filter: brightness(0) saturate(100%) invert(45%) sepia(95%) saturate(3404%)
        hue-rotate(144deg) brightness(98%) contrast(90%);
}
.nav-link:hover .nav-icon {
    filter: brightness(0) saturate(100%) invert(45%) sepia(95%) saturate(3404%)
        hue-rotate(144deg) brightness(98%) contrast(90%);
}
